[user]
  name = Aaron Russo
  email = arusso@berkeley.edu 

[alias]
  co = checkout
  br = branch
  hist = log --pretty=format:\"%h %ad> %s%d [%an]\" --graph --date=short
  unstage = reset HEAD
  ci = commit
  cob = checkout -b
  st = status
  df = diff -b
