[user]
  name = Aaron Russo
  email = arusso@berkeley.edu 

[alias]
  bl = blame
  br = branch
  ci = commit
  co = checkout
  cob = checkout -b
  df = diff -b
  hist = log --pretty=format:\"%h %ad> %s%d [%an]\" --graph --date=short
  gr = log --pretty=format:'%h : %s (%Cred%ae%Creset)' --graph
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  log = log -p
  st = status
  sub = submodule
  unstage = reset HEAD
  ungit = rm --cached
  up = branch --set-upstream
